@import "./map";

body {
  margin: 0px;
}

ul {
  padding: 0px;
  li {
    list-style: none;
    padding: 5px 10px;
    font-family: "Microsoft YaHei UI";
    a {
      text-decoration: none;
      color: #000;
      border-bottom: 1px solid gray;
      display: block;
      padding: 4px 0px;
      .contact {
        float: right;
      }
    }
  }
  li:last-child {
    a {
      border-bottom: none;
    }
  }
  border-bottom: 1px solid gray;
}

.tool-bar {
  text-align: right;
}

form {
  input {
    margin: 10px 2px 0px 2px;
  }
}