//fade
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-active {
  opacity: 0;
}

//slide-left
.slide-left-enter {
  transform: translateX(100%);
}

.slide-left-enter-active, .slide-left-leave-active {
  transition: transform .5s;
}

.slide-left-leave-active {
  transform: translateX(-30%);
}

//slide-right
.slide-right-enter {
  transform: translateX(-30%);
}

.slide-right-enter-active, .slide-right-leave-active {
  transition: transform .5s;
}

.slide-right-leave-active {
  transform: translateX(100%);
}

//slide-left-concat
.slide-left-concat-enter {
  transform: translateX(100%);
}

.slide-left-concat-enter-active, .slide-left-concat-leave-active {
  transition: transform .5s;
}

.slide-left-concat-leave-active {
  transform: translateX(-100%);
}

//slide-right-concat
.slide-right-concat-enter {
  transform: translateX(-100%);
}

.slide-right-concat-enter-active, .slide-right-concat-leave-active {
  transition: transform .5s;
}

.slide-right-concat-leave-active {
  transform: translateX(100%);
}

//slide-down
.slide-down-enter {
  transform: translateY(100%);
}

.slide-down-enter-active, .slide-down-leave-active {
  transition: transform .5s;
}

.slide-down-leave-active {
  transform: translateY(100%);
}