//fade
.fade-enter-active, .fade-leave-active {
  transition: opacity 3s
}

.fade-enter, .fade-leave-active {
  opacity: 0
}
//slide
.slide-left-enter, .slide-left-leave-active {
  transform:translateX(100%);
}

.slide-left-enter-active, .slide-left-leave-active {
  transition: transform 3s;
}

.slide-right-enter, .slide-right-leave-active {
  transform:translateX(-100%);
}

.slide-right-enter-active, .slide-right-leave-active {
  transition: transform .5s;
}